name: Publish Website

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  pages: write

jobs:
  build:
    name: Build (Docs)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Cache Node.js modules
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Restore Packages
        run: npm ci

      - name: Build VuePress site
        run: npm run build

      - name: Upload Artifact for Website
        uses: actions/upload-artifact@v4
        with:
          name: site
          path: docs/.vuepress/dist

  deploy-gh-pages:
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'workflow_dispatch' || github.event_name == 'push'

    steps:
      - name: Setup GitHub Pages
        uses: actions/configure-pages@v5

      - name: Download Artifacts for Website
        uses: actions/download-artifact@v5
        with:
          name: site
          path: ./dist

      - name: Upload to GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

  deploy-static-pages:
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'workflow_dispatch' || github.event_name == 'push'

    steps:
      - name: Download Artifacts for Website
        uses: actions/download-artifact@v5
        with:
          name: site
          path: ./dist

      - name: Upload to Static Pages
        uses: SpechtLabs/StaticPages-Upload@main
        with:
          endpoint: https://pages.specht-labs.de
          site-dir: dist/
